@using İntProg_Vize.Models
@model List<News>
@if (TempData["success"]!=null )
{
	<h3>@TempData["success"]</h3>
}

<div class="container">

	<div class="row pt-3 pb-4">
		<div>
			<h1>Haberler</h1>
		</div>
	</div>
	<table class="table table-bordered ">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					NewsName
				</th>
				<th>
					NewsDescription
				</th>
				<th>
					NewsPlace
				</th>
				<th>
					NewsCountry
				</th>
				<th>
					NewsTypeCategory
				</th>
				<th>

				</th>
				<th>

				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var news in Model)
			{
				<tr>
					<td>@news.Id</td>
					<td>@news.NewsName</td>
					<td>@news.NewsDescription</td>
					<td>@news.NewsPlace</td>
					<td>@news.NewsCountry</td>
					<td>@news.NewsTypeCategory.Name</td>
					<td>
						<a asp-controller="News" asp-action="NewsAddUpdate" asp-route-Id="@news.Id" type="button" class="btn btn-success" style="width:100px">Güncelle</a>
					</td>
					<td>
						<a asp-controller="News" asp-action="NewsDelete" asp-route-Id="@news.Id" type="button" class="btn btn-danger" style="width:100px">Sil</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="News" asp-action="NewsAddUpdate" class="btn btn-lg btn-primary" type="button">Yeni Haber</a>
		</div>
	</div>

</div>
